aside {
    padding: 3px 2px;
    /* width: 110px; */
    /* float: left; */
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    margin: 5px;

}

.sidebar-item img {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
}