aside {
    padding: 3px 2px;
    width: 110px;
    float: left;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    margin: 5px;
    width: 95px;
    height: 65px;
}

.sidebar-item img {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
}

.picked {
    background-color: aqua;
}

.unpicked {
    border: 1px solid black;
}