* {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  background-color: #edeeee;
}


nav {
  background-color: #fff;
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 7px;
}

